.container {
  padding: 0 2rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* background-image: url("../public/paper-bg.jpeg"); */
  /* background-image: linear-gradient(
    45deg,
    hsl(240deg 43% 75%) 0%,
    hsl(257deg 48% 75%) 11%,
    hsl(275deg 53% 76%) 22%,
    hsl(292deg 59% 76%) 33%,
    hsl(310deg 65% 76%) 44%,
    hsl(327deg 71% 77%) 56%,
    hsl(345deg 77% 77%) 67%,
    hsl(2deg 83% 77%) 78%,
    hsl(20deg 90% 77%) 89%,
    hsl(37deg 97% 77%) 100%
  ); */
}

.button {
  width: 128px;
  background-color: lightblue;
  border: none;
  border-radius: 20px;
  height: 36px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.gallery {
  display: flex;
}

.galleryBox {
  /* border: 2px solid black; */
  opacity: 0;
  width: 20vw;
  /* padding-left: 2vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  background-image: url("../public/paper.jpg");
  animation: fadeIn 4s;
  animation-fill-mode: forwards;
}

.textInput {
  padding-left: 0.5vw;
  padding-top: 0.5vh;
  margin-bottom: 2vh;
}

.question {
  text-align: center;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.response {
  font-weight: bold;
}

.title {
  animation: fadeIn 1s linear;
}

.subtitle {
  width: 50%;
  text-align: center;
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.mainButton {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.animation2 {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.animation3 {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

.animation4 {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

.animation5 {
  opacity: 0;
  animation: fadeIn 2s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

/* animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
